.contact-title {
    width: 548px;
    height: 128px;
    position: absolute;
    left: 136px;
    top: 124px;
    display: flex;
    align-items: center;
    animation: fadeIn 0.5s linear both;
}

.contact3 {
    width: 134px;
    height: 134px;
    margin-top: -3px;
}

.contact {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    color: #927BA4;
    margin-left: 15px;
}

.links-grid {
    width: 880px;
    height: 230px;
    gap: 10px;
    left: 250px;
    top: 320px;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: start;
    padding: 10px 10px;
    animation: fadeIn 0.5s linear both;
    animation-delay: 0.3s;
}

.contact1 {
    width: 680px;
    height: 680px;
    left: 950px;
    top: -370px;
    position: fixed;
    animation: fadeIn 0.5s linear both;
    animation-delay: 0.2s;
}

.contact2 {
    width: 688px;
    height: 688px;
    transform: rotate(19deg);
    left: 970px;
    top: 400px;
    position: fixed;
    animation: fadeIn 0.5s linear both;
    animation-delay: 0.4s;
}