    .text-zone {
        position: absolute; 
        left: 12%;
        top: 47%; 
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    
    .intro {
        font-family: 'Poppins';
        font-size: 35px;
        color: rgb(140, 156, 171);
        animation: fadeIn 0.3s linear both; 
    }

    .name {
        color: rgb(121, 144, 166);
    }

    .bio {
        top: 100px;
        color: #8d8d8d; 
        font-weight: 400;
        font-size: 15px;
        font-family: 'Poppins';
        letter-spacing: 1px;
        animation: fadeIn 0.4s linear both; 
        animation-delay: 0.1s;
    }
