.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px; // Adjust width as needed
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
  }

  .nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
    left: 0px;
    gap: 20px
  }
  
  .nav-home { 
      color: #4d4d4e;
      font-size: 20px;
      transition: 0.3s color ease;
      cursor: pointer !important;

      &:hover {
        color: #9CBEDE;
    }
  }

  .side-about {
    color: #4d4d4e;
      font-size: 20px;
      transition: 0.3s color ease;
      cursor: pointer;

      &:hover {
        color: #9CBEDE;
      }
  }

  .side-projects {
    color: #4d4d4e;
      font-size: 20px;
      transition: 0.3s color ease;
      cursor: pointer;

      &:hover {
        color: #9CBEDE;
      }
  }

  .side-contacts {
    color: #4d4d4e;
      font-size: 20px;
      transition: 0.3s color ease;
      cursor: pointer;

      &:hover {
        color: #9CBEDE;
      }
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    li {
      a {
        display: block;
        font-size: 15px;
        color: #4d4d4e;
        transition: color 0.3s ease;
        
        &:hover {
          color: #9CBEDE;
        }
      }
    }
  }