.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px; // Adjust width as needed
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
  }

  .nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
    left: 0px;
    gap: 20px
  }
  
  .nav-home { 
      color: #4d4d4e;
      font-size: 20px;
      cursor: pointer !important;
      position: relative;
      display: inline-block;

      .home-text {
        opacity: 0;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        white-space: nowrap;
        font-family: 'Poppins';
      }

      .faHome {
        transition: 0.3s ease;
      }

      &:hover .faHome {
        opacity: 0;
        color: #adbcc9;
      }

      &:hover .home-text {
        opacity: 1;
        color: #adbcc9;;
      }
  }

  .side-about {
    color: #4d4d4e;
    font-size: 20px;
    cursor: pointer !important;
    position: relative;
    display: inline-block;

    .about-text {
      opacity: 0;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
      white-space: nowrap;
      font-family: 'Poppins';
    }

    .faUser {
      transition: 0.3s ease;
    }

    &:hover .faUser {
      opacity: 0;
      color: #adbcc9;
    }

    &:hover .about-text {
      opacity: 1;
      color: #adbcc9;;
    }
  }

  .side-projects {
    color: #4d4d4e;
    font-size: 20px;
    cursor: pointer !important;
    position: relative;
    display: inline-block;

    .projects-text {
      opacity: 0;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
      white-space: nowrap;
      font-family: 'Poppins';
      letter-spacing: 0px;
      font-weight: 700px;
    }

    .faFolderOpen {
      transition: 0.3s ease;
    }

    &:hover .faFolderOpen {
      opacity: 0;
      color: #adbcc9;
    }

    &:hover .projects-text {
      opacity: 1;
      color: #adbcc9;;
    }
  }

  .side-contacts {
    color: #4d4d4e;
    font-size: 20px;
    cursor: pointer !important;
    position: relative;
    display: inline-block;

    .contact-text {
      opacity: 0;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s ease;
      white-space: nowrap;
      font-family: 'Poppins';
    }

    .faPaperPlane {
      transition: 0.3s ease;
    }

    &:hover .faPaperPlane {
      opacity: 0;
      color: #adbcc9;
    }

    &:hover .contact-text {
      opacity: 1;
      color: #adbcc9;;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    li {
      a {
        display: block;
        font-size: 15px;
        color: #4d4d4e;
        transition: color 0.3s ease;
        
        &:hover {
          color: #adbcc9;
        }
      }
    }
  }