.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px; // Adjust width as needed
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: 1000;
  }
  
  .nav-home {    
    a {
      display: block;
      color: #4d4d4e;
      font-size: 20px;
      transition: 0.3s color ease;

      &:hover {
        color: #9CBEDE;
      }
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px; // Space between social icons
    
    li {
      a {
        display: block;
        font-size: 15px;
        color: #4d4d4e;
        transition: color 0.3s ease;
        
        &:hover {
          color: #9CBEDE;
        }
      }
    }
  }