.projects-title {
    width: 548px;
    height: 128px;
    position: absolute;
    left: 136px;
    top: 124px;
    display: flex;
    align-items: center;
    animation: fadeIn 0.5s linear both;
}

.project3 {
    width: 134px;
    height: 134px;
    margin-top: -3px;
}

.projects {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    color: #38889C;
    margin-left: 15px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, (1fr));
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    left: 200px;
    top: 250px;
    position: absolute;
    padding: 9px 6px;
    animation: fadeIn 0.5s linear both;
    animation-delay: 0.3s;
}

.project1 {
    width: 680px;
    height: 680px;
    left: 950px;
    top: -370px;
    position: fixed;
    animation: fadeIn 0.5s linear both;
    animation-delay: 0.2s;
}

.project2 {
    width: 688px;
    height: 688px;
    transform: rotate(19deg);
    left: 1000px;
    top: 470px;
    position: fixed;
    animation: fadeIn 0.5s linear both;
    animation-delay: 0.4s;
}